---
title: "Business Registration Number (BRN) Requirements for Toll-Free Verification"
articleID: 2283
category: "Mobile Marketing > SMS Compliance"
knowledgeBase: "Marketing Cloud"
lastUpdated: 2025-09-11
---

# Business Registration Number (BRN) Requirements for Toll-Free Verification

## Overview

New compliance guidelines require the collection of **Business Registration Numbers (BRNs)** for all **Toll-Free Verification (TFV)** requests. These updated requirements are being implemented industry-wide to meet regulatory standards.

## Implementation Timeline

- **September 30, 2025**: Customers can begin including their BRNs in new TVF submissions.
- **January 2026**: Business Registration Numbers become mandatory for all new toll-free verification submissions.

## New Compliance Fields

To meet the updated guidelines, three additional fields will be required in toll-free verification submissions:

- **Business Registration Number**: The official registration number issued by your government authority.
- **Business Registration Type**: The type of Business Registration Number. Examples include EIN, or CBN.
- **Business Registration Country**: The ISO 3166-1 Alpha-2 country code (such as US for the United States, or CA for Canada).
For more information about other countries’ Alpha-2 codes, please visit the [ISO Online Browsing Platform](https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwow.bandwidth.com%2FMzgxLU5RSi05ODEAAAGcBTqeyHoS_hHyFnYbXtDBjTyYO7wdAXBt04GAqSPRp9GZ9LJLTJuRbiYfqUOfepNpgT-q3Hg%3D&data=05%7C02%7Cmanisha%40maropost.com%7C7643915f7b2f4470522108ddeafe9eec%7Ce5e528371e604135adf7d03a14924196%7C0%7C0%7C638925101509821781%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&sdata=j13Dy1WC1wupvS5Cf3LxDR9RKyaAKusm%2F%2BsF5KtH9M4%3D&reserved=0), select **Country codes**, and click **Search**.

## Compliance Requirements by Location

### US Businesses:

Provide your IRS-issued Employer Identification Number (EIN).

If you do not have EIN issued by IRS, for example if you’re a business with no employees, then mark Entity Type as “Sole Proprietor” - submissions will go through a manual exemption process.

> **Note:** **Note:** It will require an extended processing time and there’s no guarantee of approval.

### Non-US Businesses:

Provide the official business registration number from your local/national business authority.

While required documents will vary by country, please ensure you can provide a document that shows:

- Your legal business name
- A valid business registration number
- The name of the issuing authority (for example, Companies House in the UK, Corporations Canada, and so on)